/* client/src/app/components/result/result.component.css */
.result-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: white;
  text-align: center;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.restart-btn {
  padding: 1rem 2rem;
  border: none;
  border-radius: 8px;
  font-size: 1.5rem;
  background-color: #03a9f4;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease;
}

.restart-btn:hover {
  background-color: #ffc107;
  transform: scale(1.05);
}